*{

	margin: 0;

	padding: 0;

	font-family: arial;

	box-sizing: border-box;

}

body{

	height: 100vh;

	display:grid;

	place-items: center;

	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.6)), url(image.jpg);

	background-size: 100% 100%;

	

}

table{

	width: 1000px;
    height:450px;
 background-color: rgb(237, 184, 248);

	box-shadow: -1px 12px 12px -6px rgba(214, 221, 245, 0.5);

}

table, td, th{

	padding: 6px;
    padding-top: 15px;

	border: 1.5px solid black;

	border-collapse: collapse;

	text-align: center;

	cursor: pointer;

}

td{

	font-size: 18px;

}

th{

	background-color:blueviolet;

	color: white;

}

